body {
	margin: 1ex;
	margin-left: 86px;
	margin-top: 46px;
	background-color: #888;
}

table {
	border-spacing: 0 0;
	empty-cells: show;
	table-layout: fixed;
}

table, table td, table tr {
	margin: 0;
	padding: 0;
}

noscript p {
	font-size: x-large;
	background-color: #DDD;
	color: red;
	padding: 1ex;
}

input {
    	font-family: monospace;
}

/***************** Grid map **********************/

#map {
	background-color: #FFF;
	border: 4px ridge #888;
	/* border-collapse: separate;
	cursor: crosshair;
	cursor: cell; */
	font-family: monospace;
}

#map td { /* Default cell */
	margin: 0;               
	min-height: 20px;
	height: 20px;
	max-height: 20px;
	min-width: 18px;
	width: 18px;
	max-width: 18px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
}

/***************** Floating boxes **********************/

#toolbox, #statusbar {
	position: fixed;
	background-color: #DDD;
	opacity: 0.9;
	border: 2px ridge #DDD;
}

#toolbox:hover, #statusbar:hover {
	opacity: 1;
	border: 2px outset #DDD;
	z-index: 1;
}

#toolbox { /* Left toolbox */
	left: 4px;
	top: 4px;
	width: 76px;
	cursor: default;
}

#toolbox div {
	border: 1px solid #DDD;
	text-shadow: #444 1px 1px 2px;
	text-align: center;
	float: left;
}

#toolbox .tool {
	border: 1px solid #DDD;
	width: 22px;
	height: 22px;
}

#toolbox .tool:hover, #toolbox .layer:hover {
	border: 1px solid #444;
	background-color: #EEE;
}

#toolbox .active {
	border: 1px solid #444;
}

#toolbox hr {
	clear: both;
	border: 0 none transparent;
	border-top: 2px ridge #DDD;
}

#toolbox #cmd_Foreground {
	width: 20px;
	height: 20px;
	background-color: black;
	border: 2px solid white;
}

#toolbox #cmd_Background {
	background-color: white;
	width: 24px;
	height: 24px;
	float: left;
	border: 0 none transparent;
}
#toolbox #cmd_Background:hover {
	border: 0 none transparent;
}

#toolbox #mapinput {
	margin-top: 1px;
	height: 17px;
	width: 22px;
	float: left;
}
#toolbox #cmd_setAll { width: 48px; }
/*
#toolbox #layer {
	position: fixed;
	left: 56px;
	top: 28px;
	width: auto;
	display: none;
	background-color: #DDD;
	border: 2px outset #DDD;
}

#toolbox #target_layer, #toolbox #layer td {
	min-width: 46px;
	font-size: small;
	height: auto;
}

#toolbox #layer td {
	min-width: 60px;
	text-align: left;
}
*/
#toolbox #palette {
	position: fixed;
	left: 54px;
	top: 46px;
	width: 50px;
	display: none;
}
#toolbox #palette td, #toolbox #palette img { height: 18px; width: 25px; vertical-align:bottom; }

#toolbox #layer {
	height: auto;
	font-size: smaller;
	border: 0px none transparent;
}

#toolbox #layer .tool {
	width: 16px;
	height: 18px;
}

#toolbox .layer {
	width: 72px;
	text-align: left;
	overflow: hidden;
}

#toolbox .layer.active {
	color: blue;
}

#toolbox #glyph {
	height: auto;
	width: 50px;
	font-family: monospace;
	font-size: smaller;
	border: 0px none transparent;
}

#toolbox #glyph div {
	width: 14px;
	height: 14px;
}


#statusbar {
	top: 4px;
	left: 86px;
	min-width: 700px;
	height: 23px;
	font-size: smaller;
}

#statusbar td {
	padding: 0 5px;
	vertical-align: middle;
}

#statusbar #current_foreground { width: 6px; border: 1px solid #DDD; }
#statusbar #current_background { width: 8px; }

#statusbar #coordinate_status, #statusbar #dimension_status {
	font-family: monospace;
	width: 60px;
	overflow: visible;
	white-space: nowrap;
}

#statusbar #coordinate_status, #statusbar #dimension_status, #statusbar #current_background {
    border-right: 2px ridge #DDD;
}
#statusbar #hint { border-bottom: 2px ridge #DDD; }

#statusbar:hover #dimension_status, #statusbar:hover #current_background { border-right: 2px groove #DDD; }
#statusbar:hover #hint { border-bottom: 2px groove #DDD; }


/********************** Dialog styles **************************************/
#mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:black;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	display:none;
	z-index: 100;
}

#dialog_container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display:none;
	z-index: 101;
}
#dialog_container td {
	vertical-align: middle;
	text-align: center;
}

#dialog_container > tbody > tr > td > div[id] {
	margin: 0 auto;
	padding: 2em;
	max-width: 400px;
	background-color: #DDD;
	border: 2px ridge #DDD;
	display: none;
}

/************************ Misc ********************************/

#hideFocus {
	position: fixed;
	top: -10000px;
	left: -10000px;
}